<div class="filters">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Quantas pessoas?</mat-label>
    <mat-select [formControl]="playersControl" >
      <mat-option [value]="" role="option">Tanto faz!</mat-option>
      <mat-option [value]="2" role="option">2 pessoas</mat-option>
      <mat-option [value]="3" role="option">3 pessoas</mat-option>
      <mat-option [value]="4" role="option">4 pessoas</mat-option>
      <mat-option [value]="5" role="option">5 pessoas</mat-option>
      <mat-option [value]="6" role="option">6 pessoas</mat-option>
      <mat-option [value]="7" role="option">7 pessoas</mat-option>
      <mat-option [value]="8" role="option">8 pessoas</mat-option>
      <mat-option [value]="9" role="option">9 pessoas</mat-option>
      <mat-option [value]="10" role="option">10 pessoas</mat-option>
      <mat-option value="more" role="option">11 ou mais pessoas</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Duração</mat-label>
    <mat-select [formControl]="durationControl" >
      <mat-option [value]="" role="option">Tanto faz!</mat-option>
      <mat-option value="fast" role="option">Jogo rápido!</mat-option>
      <mat-option value="medium" role="option">Moderado.</mat-option>
      <mat-option value="long" role="option">Mais demorado...</mat-option>
      <mat-option value="variable" role="option">Varia muito ¯\_(ツ)_/¯</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Formato</mat-label>
    <mat-select [formControl]="formatControl" >
      <mat-option [value]="" role="option">Tanto faz!</mat-option>
      <mat-option value="online" role="option">Online</mat-option>
      <mat-option value="offline" role="option">Presencial</mat-option>
    </mat-select>
  </mat-form-field>
</div>