<div id="Content" role="main">
  <div class="container" >
    <app-header></app-header>

    <app-filters
      [playersControl]="playersControl"
      [durationControl]="durationControl"
    ></app-filters>

    <p class="description">
      <i>dica: clicando em um jogo, abre um site para jogá-lo!</i>
    </p>
  
    <section id="Games">
      <a
        *ngFor="let game of filteredGameList"
        [href]="game.link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-game-card
          [game]="game"
        ></app-game-card>
      </a>
    </section>
  </div>
</div>
