<mat-card>
  <mat-card-title>{{ game.name }}</mat-card-title>
  <mat-card-subtitle>
    {{ getPlayersCount(game.minNumberOfPlayers, game.maxNumberOfPlayers) }}
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{ game.description }}
    </p>
    <ng-container *ngIf="game.tags" >
      <mat-chip-list aria-label="Game related tags">
        <ng-container *ngFor="let tag of game.tags">
          <mat-chip color="primary" selected>
            {{ tag }}
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </ng-container>
  </mat-card-content>
</mat-card>